# Ambiente virtual
venv/
.venv/
__pycache__/
*.pyc

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Dados sensíveis (se houver)
*.env
.env
.streamlit/secrets.toml

# Banco de dados (vai pro Hugging Face)
data/tiss.db

# Arquivos brutos da ANS (muito grandes)
data/tuss-*.csv
data/procedimentos.csv

# Pasta de verificacao temporaria
verificacao/

# Arquivo de teste temporario
src/testar_hf.py